.container {
    width: 100%;
	max-width: 1400px;
	margin: 0 auto;
    padding: 0 20px;
    font-family: Georgia, serif;
    
}

h1{
    color: white;
    width: 350px;
}

h1#titulo{
    font-size: 200%;
    width:530px;
}

div#titulo{
    margin-top: -80px;
}
p#section1,p#section2,p#section5{
    font-style:italic;
}


.header{
    height: 80px;
    background: #202020;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline;
    margin:10px;
  }

.section1 {

    color: white;
    height: 460px;
    background-image: url("../img/bg-intro.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: ;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
    
}
.section2{

    height: 630px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 
    justify-content: center;

}

p#section2{
    width: 330px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 75px;
}

nav#cafe{
    display:flex;
    justify-content: space-between;

}

div#amor , div#perfeicao {
    width: 460x;
    margin: 10px;
}

figcaption#a,figcaption#p {
    color: white;
    background: #202020;
    width: 220px;
    font-style:italic;
    font-size: 150%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    position: relative;
}

   


.section3{

    background: #e9e5d9;
    height: 520px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 
    justify-content: center;

}

p#section3{
    width: 350px;
}

div#Paulista,div#Carioca,div#Mineiro{
    text-align: center;
}

input.animação1:hover{

    filter:invert();
    
    cursor: pointer;
    
    
}

input#saibaMAis{
    background-color: #e9e5d9;
    padding: 15px 30px 15px 30px;
    font-weight: bold; 
    margin-top: 55px;
    transition: 1s;
}

nav#cidades{

    display:flex;
    justify-content: space-around;

}

.section4{

    height: 1070px;
    display: flex;
    flex-flow: column nowrap;

}

p#section4{
    width: 300px;
}





input#verMapa{
    
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    transition: 1s;
}

div#Botafogo,div#Iguatemi,div#Mineirao{
    display:flex;
    justify-content: center;
    
}

nav#Botafogo,nav#Iguatemi,nav#Mineirao{
    margin-left: 20px;
}


p#section4{
    margin-bottom: 20px;
}


.section5{
    display: flex;
    justify-content: center;
    background: #e9e5d9;
    height: 150px;
}

div#email{

    display: flex;
    align-items: center;
    width: 300px;
    margin-left: 20px;

}

div#newsletter{
    font-size: 150%;
    width: 460px;
    
}

input#email{
    height: 46px;
    width: 312px;
    border-style: solid;
    border-color:black;
    padding: 0 0 0 0;
    background-color: Transparent;

}

button#enviar{
    height: 50px;
    width: 140px;
    background-color: black;
    border: 0px;
    color: #fafafa;
    font-size: 120%;
}

::placeholder {
    color: #8d8a83;
    font-style: italic;
    font-size: 110%;
     
  }

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d8d4c9;
    
    height: 120px;
}


p#footer{
    width: 460px;
    margin-left: 200px;

}

h1#footer{
    padding-left: 250px;
    width: 300px;
    
    


}